
mat-grid-tile {
    background: darkslategrey;
}
p {
    color:white;
    font-family:'Helvetica'
    
}

.card {
    max-width: 400px;
    background-color: darkslategray;
  }

li {
    color: white;
    font-family:'Helvetica'
}  