<br>
<div align="center"> 
    
<mat-card class="card" > 
    <mat-card-title style="color:white"> Contact and Links </mat-card-title> 
</mat-card>
</div>

<br>


<div align="center">
<table align="center"> 
<mat-card class="card">
<tr> 
<td> <mat-icon>person_add</mat-icon></td> 
<td> <p> Linked in </p> </td>
</tr>
<tr>
<td> <mat-icon>code</mat-icon></td>
<td> <p>Github</p> </td>  

</tr>
<tr>
<td> <mat-icon>mail</mat-icon> </td>
<td> <p>mharlan@mail.umw.edu </p> </td>

</tr>
</mat-card>
</table>
</div>
<br> 
<div align="center"> 
<mat-card class="card" > 
    <mat-card-title style="color:white"> Leave a note! </mat-card-title> 
    <ng-form> 
      <label> Name: </label>
      <input type="text"> 
      <br>
      <br>
      <textarea placeholder="Leave me a note!"> </textarea>

    </ng-form>
</mat-card>

</div>
