


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary" style="background-color:darkslategrey;"> 
    <mat-toolbar-row> 
        <mat-icon>home</mat-icon> 
        <span class="menu-spacer"></span>
        <div>
        <a mat-button routerLink="Resume" >View Resume</a>
        <a mat-button routerLink="Experience" > Experience </a>
        <a mat-button routerLink="Contact" > Projects </a>
        
        <a mat-button routerLink="Contact" > Memberships </a>


        <a mat-button routerLink="Contact" > Contact and Links </a>
        <span class="menu-spacer"></span>
        </div> 
    </mat-toolbar-row>
</mat-toolbar>






























<!-- <h1 align="center"> Welcome, {{currentName}}</h1> 


<app-contact-form [name]="currentName" 
                  [lastName1]="lastName"
                  [comment]="currentComment"

*ngIf="show" (newValsEvent)="parDict($event['name'],$event['lastName1'])"  (newCommentEvent)="setComment($event)"></app-contact-form>

<p *ngIf="!show" align="center"> {{currentName}} {{lastName}} </p>

<p  align="center"> {{currentComment}}</p>

<div>

<h1 align="center"> My Resume </h1>
<app-resume>  </app-resume> 

</div>
 -->
<router-outlet></router-outlet>


