
<br>
<div align="center"> 
    
<mat-card class="card" > 
    <mat-card-title style="color:white"> Education and Skills </mat-card-title> 
</mat-card>
</div>

<br>

<table align="center"> 
<tr>
    <td>
<mat-card class="card"> 
    <mat-card-title style="color:white"> University Mary Washington </mat-card-title> 
    <mat-card-subtitle style="color:white"> Graduating: Spring 2023</mat-card-subtitle>
    <div>  
        <p> I am a senior majoring in Computer Science at University of Mary Washington. I will be graduating in Spring of 2023.
         My overall GPA is a 3.51 and my major GPA is a 3.68.</p> 
    </div> 
</mat-card>
    </td>
    <td>
<mat-card class="card"> 
<mat-card-title style="color:white"> Computer Science Courses </mat-card-title> 
    <ul> 
        <li> Computer Programming and Problem Solving </li>
        <li> Software Development Tools </li>
        <li>  Object-oriented Analysis and Design </li>
        <li> Computer Systems and Architecture </li>
        <li> Data Structures and Algorithms </li>
        <li> Applications of Databases </li>
        <li> Modeling & Simulation </li>
        <li> Applied Discrete Mathematics </li>
        <li> Introduction to Data Science </li>
        <li> Computer Ethics </li>
    </ul>
</mat-card>
</td>
<td> 
<mat-card class="card"> 
    <mat-card-title style="color:white"> Specialized Skills </mat-card-title> 
    <ul> 
        <li> Object Oriented Programming </li>
        <li> System Based Modeling </li>
        <li>  Agent Based Modeling</li>
        <li> Web Development </li>
        <li>  Data Analysis  </li>
    </ul>
</mat-card>
</td>
</tr>
<tr>
    <td>
        <mat-card class="card"> 
            <mat-card-title style="color:white"> Programing Languages </mat-card-title> 
            <ul> 
                <li> Java </li>
                <li> C </li>
                <li> Python </li>
                <li> Javascript </li>
                <li> Typescript </li>
                <li> Swift </li> 
            </ul>
        </mat-card>



    </td>
<td> 
    <mat-card class="card"> 
        <mat-card-title style="color:white">  Databases </mat-card-title> 
        <ul> 
            <li> SQL </li>
            <li> MongoDB </li>
            <li> MariaDB </li>
            <li> Neo4j </li>
            <li> Redis </li>
        </ul>
    </mat-card>
</td>
<td> 
    <mat-card class="card"> 
        <mat-card-title style="color:white"> Python Libraries</mat-card-title> 
        <ul> 
            <li> Pandas </li>
            <li> Numpy </li>
            <li> Flask </li>
            <li> NetworkX </li>
            <li>  Mesa </li>
            <li> Matlab </li>
        </ul>
    </mat-card>
</td>

</tr>
</table>
