
<br>
<div align="center"> 
    
<mat-card class="card" > 
    <mat-card-title style="color:white"> Relavant Experience </mat-card-title> 
</mat-card>
</div>

<br>

<mat-card class="experience"> 
    <mat-card-title style="color:white"> Software Engineer Intern </mat-card-title> 
    <mat-card-subtitle style="color:white"> NomanIT</mat-card-subtitle>
    <div>  
        <p> At this job i had no idea what the fuck i was supposed to do</p> 
    </div> 
</mat-card>
<br>
<mat-card class="experience"> 
    <mat-card-title style="color:white"> University Mary Washington Datathon </mat-card-title> 
    <mat-card-subtitle style="color:white"> Datamavens Club</mat-card-subtitle>
    <div>  
        <p> I put so much work into this and lost everything </p> 
    </div> 
</mat-card>

